.catalog__title-wrapper {
  padding: 73px 0;
  background-color: #f1f1f1;
}

.catalog__title {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 260px;
  font-size: 27px;
  text-align: center;
}

.catalog__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 260px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    max-width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    max-width: 1050px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 51px;
  }
}
