.order-form {
  padding: 17px 0 55px;
}

.order-form__text {
  font-size: 13px;
  color: @darkgrey;
  margin-bottom: 29px;
}

.order-form__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  margin: 0;
}

.order-form__list {
  display: flex;
  flex-direction: column;
}

.order-form__item {
  min-width: 260px;
}

.order-form__list-color {
  flex-wrap: wrap;
  flex-direction: row;
}

.order-form__group {
  display: flex;
  flex-direction: column;
}

.order-form__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.order-form__signature {
  font-size: 14px;
  line-height: 16px;
  color: @darkgrey;
}

@media (min-width: @tablet-width) {
  .order-form__group {
    flex-direction: row;
  }
}
