.order-form {
  padding: 17px 0 25px;
}

.order-form__text {
  font-size: 13px;
  color: @darkgrey;
  margin-bottom: 29px;
}

.order-form__title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  margin: 0 0 30px;
  white-space: nowrap;
}

.order-form__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
  margin-left: 22px;
}

.order-form__title-color {
  margin-bottom: 25px;
}

.order-form__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 11px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-form__list-color {
  row-gap: 19px;
  flex-wrap: wrap;
  flex-direction: row;
}

.order-form__item {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 42px;
  width: 100%;
}

.order-form__group {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}

.order-form__field-group {
  margin: 0 0 20px;
}

.order-form__field-group:last-child {
  margin-bottom: 0;
}

.order-form__field-group-tel {
  margin: 0 0 34.5px;
}


.order-form__field-group-message {
  margin: 0 0 11px;
}

.order-form__label {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.order-form__title_margin {
  margin-bottom: 4.5px;
}

.order-form__title-message {
  margin-bottom: 23px;
}

.order-form__tel {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Cpath d='M17.4395 24C17.0363 24 16.7339 24 16.3306 24C11.3911 23.4074 7.7621 21.1358 5.14113 18.2717C2.52016 15.4075 0.403226 11.7532 0 6.7162C0 6.22237 0 5.82731 0 5.33349C0.100806 4.44461 0.504032 3.85202 1.10887 3.25943C1.71371 2.56808 2.72177 1.77796 3.62903 1.6792C4.33468 1.6792 5.44355 2.17302 5.84677 2.76561C6.25 3.25943 6.45161 4.34584 6.65323 5.13596C6.85484 6.02484 7.25806 7.11125 7.15726 7.90137C6.95565 9.08655 5.34274 9.58037 4.93952 10.4693C6.55242 14.1235 9.07258 16.889 12.5 18.6667C13.3065 18.1729 14.1129 16.7902 15.3226 16.7902C15.7258 16.7902 16.3306 16.9877 16.7339 17.0865C17.2379 17.1852 17.6411 17.3828 18.0444 17.5803C18.75 17.8766 20.0605 18.1729 20.4637 18.7655C20.8669 19.3581 21.1694 20.3457 21.0685 20.9383C20.7661 22.2222 18.6492 23.6049 17.4395 24Z' fill='black'/%3E%3Cpath d='M12.6008 1.48147C18.5484 1.48147 23.4879 6.22217 23.4879 12.1481H25C25 5.43205 19.4557 0 12.6008 0V1.48147Z' fill='black'/%3E%3Cpath d='M12.6008 9.18506V10.7653C13.4073 10.7653 14.0121 11.3579 14.0121 12.148H15.625C15.625 10.5678 14.3145 9.18506 12.6008 9.18506Z' fill='black'/%3E%3Cpath d='M12.6008 6.12356C15.9274 6.12356 18.75 8.79021 18.75 12.1482H20.3629C20.3629 8.00009 16.9355 4.64209 12.7016 4.64209V6.12356H12.6008Z' fill='black'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;

  &:hover,
  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4395 24C17.0363 24 16.7339 24 16.3306 24C11.3911 23.4074 7.7621 21.1358 5.14113 18.2717C2.52016 15.4075 0.403226 11.7532 0 6.7162C0 6.22237 0 5.82731 0 5.33349C0.100806 4.44461 0.504032 3.85202 1.10887 3.25943C1.71371 2.56808 2.72177 1.77796 3.62903 1.6792C4.33468 1.6792 5.44355 2.17302 5.84677 2.76561C6.25 3.25943 6.45161 4.34584 6.65323 5.13596C6.85484 6.02484 7.25806 7.11125 7.15726 7.90137C6.95565 9.08655 5.34274 9.58037 4.93952 10.4693C6.55242 14.1235 9.07258 16.889 12.5 18.6667C13.3065 18.1729 14.1129 16.7902 15.3226 16.7902C15.7258 16.7902 16.3306 16.9877 16.7339 17.0865C17.2379 17.1852 17.6411 17.3828 18.0444 17.5803C18.75 17.8766 20.0605 18.1729 20.4637 18.7655C20.8669 19.3581 21.1694 20.3457 21.0685 20.9383C20.7661 22.2222 18.6492 23.6049 17.4395 24Z' fill='%2362D1BA'/%3E%3Cpath d='M12.6008 1.48147C18.5484 1.48147 23.4879 6.22217 23.4879 12.1481H25C25 5.43205 19.4557 0 12.6008 0V1.48147Z' fill='%2362D1BA'/%3E%3Cpath d='M12.6008 9.18506V10.7653C13.4073 10.7653 14.0121 11.3579 14.0121 12.148H15.625C15.625 10.5678 14.3145 9.18506 12.6008 9.18506Z' fill='%2362D1BA'/%3E%3Cpath d='M12.6008 6.12356C15.9274 6.12356 18.75 8.79021 18.75 12.1482H20.3629C20.3629 8.00009 16.9355 4.64209 12.7016 4.64209V6.12356H12.6008Z' fill='%2362D1BA'/%3E%3C/svg%3E");
  }
}

.order-form__email {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='21' viewBox='0 0 32 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M28 0H4C1.8 0 0 1.8 0 4V17C0 19.2 1.8 21 4 21H28C30.2 21 32 19.2 32 17V4C32 1.8 30.2 0 28 0ZM2 5.3L9 10.6L2 15.9V5.3ZM30 17C30 18.1 29.1 19 28 19H4C2.9 19 2 18.1 2 17L9.8 11.1L14.2 14.4C14.7 14.8 15.4 15 16 15C16.6 15 17.3 14.8 17.8 14.4L22.2 11.1L30 17ZM30 15.8L23 10.5L30 5.2V15.8ZM17.2 13.6C16.8 13.9 16.4 14 16 14C15.6 14 15.1 13.9 14.8 13.6L10.7 10.5L9.9 9.9L2 4C2 2.9 2.9 2 4 2H28C29.1 2 30 2.9 30 4L17.2 13.6Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 3px center;

  &:hover,
  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='21' viewBox='0 0 32 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='1' d='M28 0H4C1.8 0 0 1.8 0 4V17C0 19.2 1.8 21 4 21H28C30.2 21 32 19.2 32 17V4C32 1.8 30.2 0 28 0ZM2 5.3L9 10.6L2 15.9V5.3ZM30 17C30 18.1 29.1 19 28 19H4C2.9 19 2 18.1 2 17L9.8 11.1L14.2 14.4C14.7 14.8 15.4 15 16 15C16.6 15 17.3 14.8 17.8 14.4L22.2 11.1L30 17ZM30 15.8L23 10.5L30 5.2V15.8ZM17.2 13.6C16.8 13.9 16.4 14 16 14C15.6 14 15.1 13.9 14.8 13.6L10.7 10.5L9.9 9.9L2 4C2 2.9 2.9 2 4 2H28C29.1 2 30 2.9 30 4L17.2 13.6Z' fill='%2362D1BA'/%3E%3C/svg%3E");
  }
}

.order-form__message {
  padding: 17px 17px 17px;
  border: 2px solid #444444;
  height: 142px;

  &:hover {
    border-color: #62d1ba;
  }
}

.order-form__signature {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: @darkgrey;
  margin-bottom: 30px;
}

.order-form__button {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .order-form {
    padding: 0;
  }

  .order-form__text {
    font-size: 17px;
    margin-bottom: 63px;
  }

  .order-form__title {
    display: block;
    padding-top: 17px;
    min-width: 167px;
    max-width: 167px;
    margin-bottom: 0;
    white-space: normal;
  }

  .order-form__title::after {
    display: none;
  }

  .order-form__group {
    flex-direction: row;
  }

  .order-form__list {
    row-gap: 24px;
  }

  .order-form__item {
    display: flex;
    align-items: center;
    min-height: 52px;
  }

  .order-form__item-color {
    width: 239px;
  }

  .order-form__item_radio {
    margin: 0;
  }

  .order-form__field-wrapper {
    flex-grow: 1;
  }

  .order-form__field-group {
    display: flex;
    align-items: baseline;
    margin-bottom: 24px;
  }

  .order-form__label {
    font-size: 19px;
    margin-right: 23px;
  }

  .order-form__tel,
  .order-form__email {
    background-position: right 23px center;
  }

  .order-form__signature {
    position: absolute;
    bottom: 59.5px;
    right: 50px;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__button {
    margin-top: 53px;
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .order-form {
    padding-top: 48.5px;
  }

  .order-form__text {
    padding-left: 176px;
    max-width: 700px;
  }

  .order-form__title {
    padding-left: 60px;
    min-width: 115px;
    max-width: 115px;
  }

  .order-form__list {
    justify-content: flex-start;
  }

  .order-form__item-color {
    width: 262px;
  }

  .order-form__field-wrapper {
    max-width: 700px;
  }

  .order-form__tel,
  .order-form__email {
    background-position: right 8px center;
  }

  .order-form__tel,
  .order-form__email,
  .order-form__message {
    max-width: 700px;
  }

  .order-form__button {
    margin-top: 49px;
    margin-left: 175px;
  }

  .order-form__signature {
    right: 225px;
  }
}
