.order {
  margin-bottom: 55px;
}

.order__wrapper {
  margin: 0 auto;
  padding: 0 29px;
  max-width: 260px;
}

.order__title-wrapper {
  background-color: #f1f1f1;
  width: 100%;
}

.order__title {
  margin: 0 auto;
  padding: 73px 29px;
  max-width: 260px;
}

