.page-header__logo {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo_desktop {
  display: none;
}

@media (min-width: @desktop-width) {
  .page-header__logo_desktop {
    display: block;
    padding-right: 30px;
  }
}

