.page-footer {
  width: 100%;
  background-color: #F1F1F1;
}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 0 29px 32px;
  max-width: 260px;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
}
