.product-card {
  margin-bottom: 30px;
}

.product-card__link {
  color: @black;
}

.product-card__title {
  font-weight: bold;
  font-size: 17px;
}

.product-card__text {
  font-size: 13px;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .product-card {
    display: flex;
  }

  .product-card__image {
    width: 50%;
  }

  .product-card__wrapper{
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    flex-direction: column;
  }

  .product-card__image {
    width: 100%;
  }

  .product-card__wrapper {
    width: 100%;
  }
}

