.reviews__wrapper {
  margin: 31px auto 45px;
  max-width: 260px;
}

.reviews__text {
  line-height: 30px;
}

.reviews__user-name {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
}

.reviews__user-nickname {
  font-size: 17px;
}
